<nav class="navbar navbar-inverse navbar-custom" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-7">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "TabTen", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-7">
      <% if user_signed_in? %>
      <p class="navbar-text navbar-right"><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "navbar-link" %></p>
      <p class="navbar-text navbar-right"><i class="glyphicon glyphicon-cog"></i><%= link_to "Edit Account", edit_user_registration_path, class: "navbar-link" %></p>
      <% else %>
      <p class="navbar-text navbar-right"><%= link_to "Log in", new_user_session_path, class: "navbar-link" %></p>
      <% end %>
      <p class="navbar-text navbar-right"><%= link_to "Home", root_path, class: "navbar-link" %></p>
    </div>
  </div>
</nav>